{% extends "layout.html" %}
{% block css %}
<style>
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="static/vendor/d3.min.js"></script>
<script>

    var tags_img_count = {};

    var consts = {
        hist_width: 20,
        hist_xgap: 5,
        hist_height_scaling: 5,
        hist_color: '#9d9cc9'
    };

    var display_counts = function() {

        d3.select('#stats').attr('transform', "rotate(-90)")

//        console.info(tags_img_count);
        d3.select('#stats')
                .append('g')
                .attr('transform', "translate(40, 480) rotate(-90)")
            .selectAll('.tag')
            .data(d3.keys(tags_img_count))
            .enter()
            .append('rect')
            .attr('class', 'tag')
            .attr('transform', function (d, i) {
                    return "translate(" + (i * consts.hist_width + (i - 1) * consts.hist_xgap) + "," + tags_img_count[d] * consts.hist_height_scaling * (-1.0) + ")";
            })
            .attr('width', consts.hist_width)
            .attr('height', function (d, i) {
                    return tags_img_count[d] * consts.hist_height_scaling;
            })
            .attr('fill', function (d, i) {
                    return consts.hist_color;
            })

        d3.select('#stats')
                .append('g')
                .attr('transform', "translate(40, 480) rotate(-90)")
            .selectAll('.label')
            .data(d3.keys(tags_img_count))
            .enter()
            .append('text')
            .attr('class', 'label')
            .attr('transform', function (d, i) {
                    return "translate(" + (i * consts.hist_width + (i - 1) * consts.hist_xgap + 4) + "," + 4 + ") rotate(+90)";
            })
                .text(function(d) {return d;})
    };

//    var display_contents = function() {
//
//        var img_data = [];
//
//        $.ajax({
//            url: 'collection',
//            type: 'GET',
//            data: '',
//            dataType: 'json'
//        }).done(function (data) {
//                    for (var i = 0, ii = data.length; i < ii; i++) {
////                        $('.galleria').append('<img src=' + data[i] + '>');
//                        img_data.push({
//                            image: data[i]['img_url'],
//                            title: data[i]['img_title'],
//                            description: data[i]['img_description'] + '   ' + '<a href=\" ' + data[i]['img_src'] + '\">link</a>',
//                            link: '#'
//                        });
//
//                    }
//                });
//
//    }

    var get_tags_img_count = function(tags) {
        var tag = tags.pop();
        var fd  = new FormData();
        fd.append('img_data_tags', tag);
        fd.append('img_visual_tags', '');
        $.ajax({
            url: 'collection',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            dataType: 'json'
        }).done(function (data) {

                    $('#contents').append('<h4>' + tag.toUpperCase() + '</h4><hr><br><br>');
                    for (var i = 0, ii = data.length; i < ii; i++) {

                        $('#contents').append(
                                '<div class=\"row\">' +
                                        '<div class=\"large-6 columns\">' +
                                        '<img style=\"width: 400px \" src=\"' + data[i]['img_url'] + '\">' +
                                        '</div>' +
                                        '<div class=\"large-6 columns\">' +
                                        '<h6>' + data[i]['img_title'] + '</h6>' +
                                        '<p style=\"font-size: 0.72rem\">' + data[i]['img_description'] + '</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '<br> <br> <br>');
                    }

                    $('#contents').append('<br><br><br>');

                    tags_img_count[tag] = data.length;
                    if (tags.length > 0) {
                        get_tags_img_count(tags);
                    }
                    else {
                        display_counts();
//                        display_contents();
                    }
                });
    };



    $(function () {
        var data_stats = {};
        $.ajax({
            url: 'autocomplete/data',
            type: 'GET',
            data: '',
            dataType: 'json'
        }).done(function(data) {
                    get_tags_img_count(data);
                });
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-10 large-centered columns">
        <br>
        <div class="row">
            <div class="large-3 columns">
                <svg id="stats" height='2000'>
                </svg>
            </div>
            <div class="large-9 columns">
                <div id="contents">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
