{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="static/vendor/tagsinput/jquery.tagsinput.css">
<link rel="stylesheet" href="static/vendor/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.css">
<style>
    .galleria {
        width: 100%;
        height: 600px;
        background: #ffffff
    }

</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="static/vendor/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="static/vendor/tagsinput/jquery.tagsinput.js"></script>
<script src="static/vendor/galleria/galleria-1.3.5.min.js"></script>
<script>
    $(function () {

        var img_data = [];
        var update_by_tags = function() {
            var fd = new FormData(document.getElementById("filter"));
            console.log("update");
            $.ajax({
                url: 'collection',
                type: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                dataType: 'json'
            }).done(function(data){
                        img_data = [];
                        for (var i = 0, ii = data.length; i < ii; i++) {
                            img_data.push({
                                image:data[i]['img_url'],
                                title: data[i]['img_title'],
                                description: data[i]['img_description'] + '   ' + '<a href=\"' + data[i]['img_src'] + '\">link</a>',
                                link: '#'
                            });
                        }

                        Galleria.run('.galleria', {
                            dataSource: img_data
                        });

                    });
        };

        $('#filter #data_tags').tagsInput({
            'height': '36px',
            'width': '600px',
            'onChange': update_by_tags,
            'autocomplete_url': 'autocomplete/data'
//            'autocomplete': {}
        });
        $('#filter #visual_tags').tagsInput({
            'height': '36px',
            'width': '600px',
            'onChange': update_by_tags,
            'autocomplete_url': 'autocomplete/visual'
//            'autocomplete': {}
        });

        $.ajax({
            url: 'collection',
            type: 'GET',
            data: '',
            dataType: 'json'
        }).done(function (data) {
                    for (var i = 0, ii = data.length; i < ii; i++) {
//                        $('.galleria').append('<img src=' + data[i] + '>');
                        img_data.push({
                            image: data[i]['img_url'],
                            title: data[i]['img_title'],
                            description: data[i]['img_description'] + '   ' + '<a href=\" ' + data[i]['img_src'] + '\">link</a>',
                            link: '#'

                        });
                    }
                    Galleria.loadTheme("static/vendor/galleria/themes/folio/galleria.folio.min.js");
                    Galleria.configure({
                        maxScaleRatio: 1
                    });

                    Galleria.run('.galleria', {
                        dataSource: img_data
                    });
                });
    })
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-10 large-centered columns">
        <br>

        <form method="post" id="filter">
            <div class="row">
                <div class="large-2 columns">
                    <label for="data_tags" class="right inline">Data Type</label>
                </div>
                <div class="large-10 columns">
                    <input type="text" name="img_data_tags" id="data_tags" placeholder="Input tags for filtering">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="large-2 columns">
                    <label for="visual_tags" class="right inline">Visual Type</label>
                </div>
                <div class="large-10 columns">
                    <input type="text" name="img_visual_tags" id="visual_tags" placeholder="Input tags for filtering">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="large-12 columns">
                <div class="galleria">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
