<!DOCTYPE html>
<html>
<head>
    <title>Dantze</title>
    <link rel="stylesheet" href="static/vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="static/vendor/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="static/vendor/foundation-icons/foundation-icons-size.css">
    {% block css %}
    {% endblock %}
    <script type="text/javascript" src="static/vendor/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/vendor/foundation/js/foundation.min.js"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body>
    <div>
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Dantze!</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="#">Vis Group @HKUST</a></li>
                    <!--<li class="has-dropdown">-->
                        <!--<a href="#">Right Button Dropdown</a>-->
                        <!--<ul class="dropdown">-->
                            <!--<li><a href="#">First link in dropdown</a></li>-->
                        <!--</ul>-->
                    </li>
                </ul>
                <!-- Left Nav Section -->
                <ul class="left">
                    <!--<i class="fi-plus size-24" style="vertical-align: bottom" id="add"></i>-->
                    <li><a href="upload">Upload</a></li>
                    <li><a href="display">Browse</a></li>
                    <li><a href="book">Book</a></li>
                </ul>
            </section>
        </nav>
    {% block content %}
    {% endblock %}

    </div>
</body>
</html>
