{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="static/vendor/tagsinput/jquery.tagsinput.css">
<link rel="stylesheet"
      href="static/vendor/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.css">
{% endblock %}
{% block javascript %}
<script type="text/javascript"
        src="static/vendor/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="static/vendor/tagsinput/jquery.tagsinput.js"></script>
<script type="text/javascript">


    $(function () {

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#editor #img_preview').attr('src', e.target.result);
                    $('#editor #img_preview').show();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        //hide all error messages and clear all form values initially
        $('#editor input').removeClass('error');
        $('#editor .error').hide();
        $('#editor input[type=text]').val('');
        $('#editor #data_tags').val('');
        $('#editor #visual_tags').val('');
        $('#editor #img_preview').hide();

        $('#info_success').hide();

        //initialize tags input
        $('#editor #data_tags').tagsInput({
            'width': '100%',
            'autocomplete_url': 'autocomplete/data'
        });
        $('#editor #visual_tags').tagsInput({
            'width': '100%',
            'autocomplete_url': 'autocomplete/visual'
        });

        $("#editor #file").change(function () {
            readURL(this);
        });

        //data form validation and submission
        $('#editor #update').click(function () {

            //TODO: disable button
            $('#editor #update').toggleClass('disabled');

            var flag = true;

            var el_title = $('#editor input[name=img_title]'),
                    el_description = $('#editor input[name=img_description]'),
                    el_src = $('#editor input[name=img_src]');

            if (el_title.val().length == 0) {
                el_title.addClass('error');
                el_title.next().show();
                flag = false;
            }

            if (el_description.val().length == 0) {
                el_description.addClass('error');
                el_description.next().show();
                flag = false;
            }

            if (el_src.val().length == 0) {
                el_src.addClass('error');
                el_src.next().show();
                flag = false;
            }

            if (flag == false) {
                return;
            }

            $('#editor input').removeClass('error');
            $('#editor .error').hide();

            var fd = new FormData(document.getElementById("editor"));

            $.ajax({
                url: "upload",
                type: "POST",
                data: fd,
                processData: false,
                contentType: false,
                dataType: 'json'
            }).done(function (data) {
                        $('#editor #update').toggleClass('disabled');
                        $('#editor #update').toggleClass('success');
                        $('#editor #update').val('Success');
                        setTimeout(function(){
                            $('#editor #update').toggleClass('success');
                            location.reload();
                        }, 4000);
                        $('#info_success').fadeIn(0, function () {
                            $('#info_success').fadeOut(4000);
                        });
                    });
        });
    });
</script>
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <form enctype="multipart/form-data" method="post" id="editor">
                <br>
                <input type="file" name="file" id="file" required/>
                <img id='img_preview' src="">
                <!--<div class="row">-->
                <!--<div class="large-4 columns">-->
                <!--</div>-->
                <!--</div>-->
                <br>
                <br>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Title
                            <input type="text" name="img_title" placeholder="Title" class="error"/>
                            <small class="error">Please input title</small>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Description
                            <input type="text" name="img_description" placeholder="Short Description"/>
                            <small class="error">Please input a short description of the visualization</small>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Source
                            <input type="text" name="img_src" placeholder="Source (Url)"/>
                            <small class="error">Please input source (url) of the visualization</small>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Data Type
                            <input name="img_data_tags" id="data_tags" value="">
                        </label>
                    </div>
                    <div class="large-6 columns">
                        <label>Visual Type
                            <input name="img_visual_tags" id="visual_tags" value="">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns"><br>

                        <div class="button-bar">
                            <div class="button-group">
                                <li>
                                    <a href="#info_success" class="small button " id="update">Looks Good</a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="large-9 columns"><br>

                        <div class="row">
                            <div class="large-2 columns"><br>
                                <a id="info_success">
                                    <h5>Uploaded</h5>
                                </a>
                            </div>
                            <div class="large-10 columns"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
